# root related
__pycache__/
*.pyc
.venv/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# project related
assets/
output/
helpers/__pycache__/
registries/__pycache__/
renderers/__pycache__/
structures/residence/__pycache__/
experimental/
template/