amulet-core==1.9.40
amulet-leveldb==1.0.6
amulet-mutf8==1.0.7
amulet-nbt==2.1.8
amulet-pybind11-extensions==1.0.0
amulet-rocksdb==1.0.3
cmake==4.3.2
lz4==4.4.5
mutf8==1.0.6
ninja==1.13.0
numpy==1.26.4
packaging==26.2
pillow==12.2.0
platformdirs==3.11.0
portalocker==2.10.1
pybind11==3.0.4
PyMCTranslate==1.2.43
PyYAML==6.0.3
versioneer==0.29